html,body{
	margin: 0px;
}

form{
	background-color: #F0A8A3;
	text-align: center;
	width: 300px;
	margin: 10% auto;
	padding: 55px;
}
form input{
	width: 100%;
	margin-top: 8px;
	border: 0px;
	padding: 5px 0px;
}